<div class="container">
  <div class="card-flex">
    <h1>Tela Dashboard</h1>
    <div class="button-group">
      <p-toast />
      <p-button label="Register ADM View" (onClick)="admRegister()"></p-button>
      <p-button label="User View" (onClick)="user()"></p-button>
      <p-button label="Adm View" (onClick)="adm()"></p-button>
      <p-button label="Manager" (onClick)="manager()"></p-button>
      <p-button label="Profile View" (onClick)="profile()"></p-button>
      <p-button label="Logout" (onClick)="logout()"></p-button>
    </div>
  </div>
</div>
