<div class="container">
  <div class="card-flex">
    <h1>Register ADM View</h1>
    <div class="input-group">
      <input type="text" pInputText placeholder="username" [(ngModel)]="username" />
      <input type="text" pInputText placeholder="nome" [(ngModel)]="nome" />
      <div class="combobox-categoria">
        <p-treeSelect
          class="md:w-20rem w-full"
          containerStyleClass="w-full"
          [(ngModel)]="selectedCategoria"
          [options]="categoria"
          placeholder="Selecione uma categoria"
          selectionMode="single"
          [metaKeySelection]="false">
        </p-treeSelect>
      </div>
      <p-password [(ngModel)]="password" [toggleMask]="true" />
      <p-password [(ngModel)]="confirmPassword" [toggleMask]="true" />
    </div>
    <div class="button-group">
      <p-toast />
      <p-button label="Save" icon="pi pi-check" styleClass="save-button" (onClick)="Save()"></p-button>
      <p-button label="Cancel" icon="pi pi-times" styleClass="cancel-button" (onClick)="clearForm()"></p-button>
    </div>
  </div>
</div>
