<div class="container">
  <div class="card-flex">
    <h1>Register View</h1>
    <div class="input-group">
      <input type="text" pInputText placeholder="username" [(ngModel)]="username" />
      <input type="text" pInputText placeholder="nome" [(ngModel)]="nome" />
      <p-password [(ngModel)]="password" [toggleMask]="true" />
      <p-password [(ngModel)]="confirmPassword" [toggleMask]="true" />
    </div>
    <div class="button-group">
      <p-toast />
      <p-button label="Save" icon="pi pi-check" styleClass="save-button" (onClick)="Save()"></p-button>
      <p-button label="Cancel" icon="pi pi-times" styleClass="cancel-button" (onClick)="clearForm()"></p-button>
    </div>
  </div>
</div>
